.mainContainer {
  position: fixed;
  height: 95%;
  width: 100%;
  display: flex;
  background-color: rgb(237, 96, 8);
}

.boxImage {
  position: relative;
  left: 2%;
  width: 50%;
  height: 70%;
  background-color: aqua;
  border-radius: 15px 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 4%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: solid 10px black;
  border-left: solid 10px black;
  border-top: solid 10px black;
  border-right: solid 10px black;
}

.boxDetails {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  margin-left: 2%;
  width: 30%;
  height: 70%;
  background-color: #ddce11;
  border-radius: 0 15px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 4%;
  display: grid;
  border-left: none;
  border-bottom: solid 10px black;
  border-right: solid 10px black;
  border-top: solid 10px black;
}

.image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.name {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 55px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tempsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.temperamento{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    margin-bottom: -5%;
}
.props{
    font-size: 20px;
}

.navlink{
  position: relative;
  display: flex;
  text-decoration: none;
  right: -5%;
  top: -1%;
  background-color: transparent;
  z-index: 0;
  
  height: 10%;
  
}

.arrow{
  height: 10%;
  display: flex;
  position: relative;
  color: black;
  font-weight: 100;
  font-size: 150px;
  
}
