.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(239, 71, 110, 0.399), #992edb76 );
  opacity: 0.85;
  width: 85%;
  height: 40vh;
  border-style: inset;
  border: 9px solid rgb(0,0,0);
  padding: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: filter 0.3s ease;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 0 2px #000;
}

/* .color1 { #565175 };
.color2 { #538a95 };
.color3 { #67b79e };
.color4 { #ffb727 };
.color5 { #e4491c }; */

.cardContainer:hover {
  border: 9px solid crimson; /* Aplica el oscurecimiento y el desenfoque en el estado de hover */
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dogImage {
  width: 100%; /* Modifica el ancho de la imagen para que ocupe toda la tarjeta */
  height: 100%; /* Modifica la altura de la imagen para que ocupe toda la tarjeta */
  opacity: 1;
  transition: filter 0.2s ease;
}

.details {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  transition: opacity 0.2s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.cardContainer:hover .details {
  opacity: 1;
}

.name {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.temperament {
  font-size: 22px;
  margin-bottom: 5%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.tempContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 5px;
}
.tempContainer h3 {
  font-size: 18px;
  margin: 0 5px;
}

.peso{
  font-size: 20px;
  margin-top: 10%;
}